# Top-most EditorConfig file.
root = true

[*]
# Charset
charset = utf-8

# ---
indent_style = tab
indent_size = 4

# New lines prefs
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

max_line_length = 80
