{
	"$schema": "http://json.schemastore.org/prettierrc",
	"singleQuote": true,
	"semi": true,
	"endOfLine": "lf",
	"proseWrap": "always",
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "prettier" }
		}
	]
}
